:root {
    --background: rgba(58, 62, 67, 0.9);
    --modal: rgba(0,0,0,0.8);
    --blue: #092B40;
    --light_gray: #696969;
    --gray: #3a3e43;
    --orange: #c96700;
    --white: #f0f0f0;
    --off_white: #d6d6d6;
    --email-icon: #d1d1d1;
    --email:#9b9b9b;
    --phone-icon: #006680;
    --phone: #00485a;
    --linkedIn-icon: #0a66c2;
    --linkedIn: #0a4785;
    --github-icon: #696969;
    --github: #3a3e43;
    --porfolio-icon: #c96700;
    --porfolio: #864500;
}

html { 
    scroll-behavior: smooth;
    background: url(https://raw.githubusercontent.com/ChadHarper811/Updated-Resume/2cdf9f354a13c2bf1015a038ec63a3df2aea716d/images/background.jpg) no-repeat center fixed; 
    background-size: cover;

}

body {
    font-family: 'Nova Square', sans-serif;
    color:var(--off_white);
    text-align: center;
    margin: 2% 4% 2% 4%;
}


h2 {
    background-color: rgb(201, 103, 0, 0.8);
    border-top: 4px rgb(214, 214, 214, 0.8) solid;
    border-bottom: 4px rgb(214, 214, 214, 0.8) solid;
}

h3 {
    margin: 0px;
}

.bold {
    font-size: large;
    font-weight: bold;
}

#my_info {
    position: fixed;
    width: 350px;
    height: calc(100% - 4% - 4%);
    background-color: var(--background);
    
}

#my_info > h1 {
    background-color: rgba(214, 214, 214, 0.7);
    mix-blend-mode: screen;
    color: black;
    width: 250px;
    margin: -75px auto 30px auto;
}

#portrait {
    width: 250px;
    margin: 20px auto 20px auto;
}

.info {
    font-size: 22px;
    margin: 5px 7px 10px 7px;
    display: block;
}

#email, #phone, #linkedin, #github, #portfolio {
  border-radius: 2px;
  padding: 3px 5px;
    display: inline-block;
}

#email:hover, #phone:hover, #linkedin:hover, #github:hover, #portfolio:hover {
    background-position: left;
    transition: all 1s ease;
}

.info a:link, a:visited {
    color: var(--off_white);
    text-decoration: none;
}

#email > a:link, #email > a:visited{
    color: black;
}

#email {
    color: black;
    background: linear-gradient(to left, var(--email) 50%, var(--email-icon) 50%);
    background-size: 200% 100%;
    background-position: 66% 0%;
}

#phone {
  background: linear-gradient(to left, var(--phone) 50%, var(--phone-icon) 50%);
  background-size: 200% 200%;
  background-position: 73% 0%;
}

#linkedin {
  background: linear-gradient(to left, var(--linkedIn) 50%, var(--linkedIn-icon) 50%);
  background-size: 200% 100%;
  background-position: 76.5% 0%;
}

#github {
  background: linear-gradient(to left, var(--github) 50%, var(--github-icon) 50%);
  background-size: 200% 100%;
  background-position: 73% 0%;
}

#portfolio {
  background: linear-gradient(to left, var(--porfolio) 50%, var(--porfolio-icon) 50%);
  background-size: 200% 100%;
  background-position: 79.5% 0%;
}

main {
    width: calc(100% - 350px - 2%);
    background-color: var(--background);
    float: right;
    padding-bottom: 60px;
}

#name-plate {
    margin-bottom: -10px; 
}


#summary > p, #education > p, #experience > div {
    padding: 0 15px;
}

#coding {
    display: block;
}

#Languages, #Frameworks, #Tools {
    display: inline-block;
    padding: 0 10px;
    margin: 0 -4px;
    border-left: 3px solid var(--off_white);
    border-right: 3px solid var(--off_white);
}

.jobs {
    display: block;
    text-align: left;
}

ul {
    list-style:square;
    margin: 5px;
}

li {
    text-align: left;
}

footer {
    padding-top: 40px;
    background-color: var(--background);
    border-top: 5px solid var(--off_white);
    width: calc(100% - 350px - 2%);
    float: right;
}